<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.2.0-beta1/dist/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-0evHe/X+R7YkIZDRvuzKMRqM+OrBnVFBL6DOitfPri4tjfHxaWutUpFmBp4vmVor" crossorigin="anonymous">
    <title>Info</title>
</head>
<body>
    <div class="container">
        <div class="alert alert-warning mt-4 mb-4" role="alert">
            <div class="row">
                <div class="col">
                    <h2>Argumentos de entrada</h2>
                    <ul>
                        <% for (item of argumentos) { %>
                          <li> <%= item %> </li>
                        <% } %>
                    </ul>
                    <hr />
                    <h2>Plataforma</h2>
                    <%= plataforma %>
                    <hr />
                    <h2>Versión de Node</h2>
                    <%= versionNode %>
                    <hr />
                    <h2>Path de ejecución</h2>
                    <%= pathEjecucion %>
                    <hr />
                    <h2>Process ID</h2>
                    <%= processId %>
                    <hr />
                    <h2>Carpeta del proyecto</h2>
                    <%= carpetaProyecto %>
                </div>
            </div>
        </div>
    </div>
</body>
</html>